.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  
  .users li {
    box-shadow: 1px 3px 8px green;
    font-weight: bold;
    margin: 0.5rem 0;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
    
  }